#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Deco01 Pentablet Driver
Exec=sudo /etc/opt/deco/Pentablet_Driver.sh
# Icon=chrome-hmjkmjkepdijhoojdojkdfohbdgmmhki-Default
# StartupWMClass=crx_hmjkmjkepdijhoojdojkdfohbdgmmhki
