  #!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=reload setting
Exec=/home/hasegawa/dotfiles/ubuntu/reload.sh
