[Desktop Entry]

Type=Application
Version=1.0
Name=xkeysnail
GenericName=Keymapper
Exec=/usrlocal/etc/start-xkeysnail.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
